<div class = "first-elem" id = "cont">
  <div class = "text-center">
    <div>
      <h3>Meeting Location: Faculty of Science and Technology, 2nd Floor, Computer Science Lab 2</h3>
      <p>
        Based on where you are, this page will tell you where to go if you can't find our meeting location.
      </p>
    </div>
  </div>

  <div class = "row text-center">

    <div class="col-md-4" id = "getLocation">
      <h3>Where are you located?</h3>
      <form [formGroup]="countryForm" style="display:inline-block">
        <select [(ngModel)]="selectedValue" (ngModelChange) = "getSrc($event)"  id="location" formControlName="country" class = "browser-default custom-select">
          <option *ngFor="let location of locations" [ngValue]="location">{{ location }}</option>
        </select>
      </form>
    </div>

    <div  class="col-md-8">
      <h3>Your Current Location</h3>
      <img *ngIf = "selectedValue !== undefined; else no_image_displayed" [src] = "current_location_src" alt="No Image Available...">
      <ng-template #no_image_displayed>
        <p>(An image will appear showing your location selected on the left)</p>
      </ng-template>
    </div>

  </div>
  <br>
  <span class = "text-center" *ngIf = "selectedValue !== undefined">
      <p>(Make sure to check your surroundings properly)</p>
      <p>(Not your location? Select another from the list)</p>
  </span>

  <ng-template #waiting_for_input>
    <p class = "text-center">Directions will appear when you select your location from the list above :)</p>
  </ng-template>

  <div *ngIf = "selectedValue !== undefined; else waiting_for_input" class="col-md-12">
    <hr class = "hr-dark">
    <h2 class = "text-center">Directions to UWICS from {{selectedValue}}</h2>


    <ul style = "list-style: none; padding-left: 0">
      <li *ngFor = "let step of steps" class="active">

        <div mdbWavesEffect style = "cursor: pointer" (click) = "test1.toggle(); rotateIcons($event)" class = "stepper-header">
          <h4 class="stepper-title">{{step.split(':')[0].trim()}}</h4>
          <i class="fa fa-angle-right fa-2x" style = "margin-left: 15px" aria-hidden="true"></i>
        </div>

        <div mdbCollapse class = "stepper-content" #test1="bs-collapse">
          <p>{{step.split(':')[1].trim() + placeholder}}</p>
        </div>
      </li>
    </ul>

  </div>

  <hr class = "hr-dark">

  <div class = "row text-center">
    <div class="col-md-12">
      <h3>Directions unclear? Let us know!</h3>
      <button mdbBtn (click)="frame.show()" class="waves-light" mdbWavesEffect>Send
        <i class="fa fa-paper-plane-o ml-1"></i>
      </button>
    </div>

  </div>

  <div mdbModal #frame="mdbModal" class="modal fade top" tabindex="-1" role="dialog"
       aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header text-center">
          <h4 class="modal-title w-100 font-weight-bold">Write to us</h4>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="frame.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body mx-3">
          <div class="md-form mb-5">
            <i class="fa fa-envelope prefix grey-text"></i>
            <input type="email" id="email" class="form-control validate" mdbInputDirective [formControl]="contactFormModalEmail">
            <label data-error="wrong" data-success="right" for="email">Your email</label>
          </div>

          <div class="md-form mb-5">
            <i class="fa fa-tag prefix grey-text"></i>
            <input type="text" id="subject" class="form-control validate" mdbInputDirective [formControl]="contactFormModalSubject">
            <label data-error="wrong" data-success="right" for="subject">Subject</label>
          </div>

          <div class="md-form">
            <i class="fa fa-pencil prefix grey-text"></i>
            <textarea type="text" id="message" class="md-textarea form-control" rows="1" mdbInputDirective [formControl]="contactFormModalMessage"></textarea>
            <label data-error="wrong" data-success="right" for="message">Your message</label>
          </div>

        </div>
        <div class="modal-footer d-flex justify-content-center">
          <button mdbBtn class="waves-light" mdbWavesEffect (click)="frame.hide()">Send
            <i class="fa fa-paper-plane-o ml-1"></i>
          </button>

          <button mdbBtn class="waves-light" type = "reset" value = "reset" (click) = "resetForm()">Cancel</button>
        </div>
      </div>
    </div>
  </div>

</div>
