<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark fixed-top">

  <mdb-navbar-brand><a class="navbar-brand">The UWI Computing Society</a></mdb-navbar-brand>

  <links>
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a
          class="nav-link waves-light"
          mdbWavesEffect routerLink="/home">Home Page<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item"> <a class="nav-link waves-light" mdbWavesEffect routerLink="/execs">Board of Executives</a> </li>
      <li class="nav-item"> <a class="nav-link waves-light" mdbWavesEffect routerLink="/calendar">Calendar of Events</a> </li>
      <li class="nav-item"> <a class="nav-link waves-light" mdbWavesEffect routerLink="/about">About Page</a> </li>
      <li class="nav-item"> <a class="nav-link waves-light" mdbWavesEffect routerLink="/calendar">Need Directions?</a> </li>
      <li class="nav-item"> <a class="nav-link waves-light" mdbWavesEffect [routerLink] = "currentUrl" (click) = "toggleTheme()">Toggle Dark/Light Theme</a> </li>

    </ul>
  </links>

</mdb-navbar>
