<div class = "container-fluid first-elem">
  <div class="row" style = "margin-top: 15px">
    <div class="col-md-10 card" style = "text-align: center">
      <h2><strong>More about us</strong></h2>
      <p *ngIf = "!expanded; else fullText">
        {{about.slice(0,196)}}...
      </p>

      <ng-template #fullText>
        {{about}}
      </ng-template>
      <span id = "expandable" (click) = "expand()">(Click to {{read}})</span>
      <hr class = "hr-dark">
      <p>
        Meeting Location: Faculty of Science and Technology - 2nd Floor
        <br>
        Meeting Room: Computer Science Lab 2 (CSL 2)
        <br>
        Meeting Time: 3:00 P.M. - 4:00 P.M.
      </p>
    </div>
  </div>
  <hr>

  <app-about-card></app-about-card>
  <app-about-card></app-about-card>
  <app-about-card></app-about-card>

  <app-feedback></app-feedback>



</div>
