mdb-card-body {
  padding-top: 0;
}

hr {
  margin-top: 0;
}

img {
  width: 400px;
  margin: 0 auto;
}

@media screen and (max-width: 1023px) {
  img {
    width: 100%;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
  }
}
