.col-md-6 {
  margin-left: 10px !important;
}
.col-md-5 {
  margin-top: 10px !important;
  padding: 0 !important;
}

img {
  height: 100%;
}

.card {
  width: 40vw;
  height: 100%;
}

@media only screen and (max-width: 767px) {
  .card {
    width: 90vw;
    text-align: center;
  }

  .col-md-5 {
    padding: 15px !important;
  }
}
