<div class="container-fluid first-elem" id = "parent">

  <div class="row">
    <div class="col-md-6 card" style = "margin: 0 auto; text-align: center;">
      <h2>Meet the Executives</h2>
      <p>
        These are the people who work tirelessly to keep the UWICS alive and enjoyable. Planning events, presenting
        sessions and even helping students with project ideas, these are only some of the many responsibilites we take on.
        Meet the people who make it all possible!
      </p>
    </div>
  </div>

  <div class="row" id = "pres-card">
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.president" ></app-exec-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.vice_pres" ></app-exec-card>
    </div>
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.media" ></app-exec-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.events" ></app-exec-card>
    </div>
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.secretary" ></app-exec-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.public" ></app-exec-card>
    </div>
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.treasurer" ></app-exec-card>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.web1" ></app-exec-card>
    </div>
    <div class="col-md-6">
      <app-exec-card [exec]="allExecs.web2" ></app-exec-card>
    </div>
  </div>
</div>
