app-exec-card {
  margin: 10px;
}

#parent {
  justify-content: center;
}

.row {
  align-items: center;
}

#pres_card {
  width: 45vw;
  margin: 0 auto;
}

.other-cards {
  width: 45vw;
}

@media only screen and (max-width: 767px) {
  #parent {
    justify-content: flex-start;
  }

  .col-md-6 {
    padding-left: 0 !important;
  }

  .row {
    margin-left: 3.5vw !important;
    margin-right: 0 !important;
  }

  .container-fluid {
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
}
