.navbar {
  background-color: #212121;
}

.navbar-brand {
  color: white !important;
}
//
.body-dark {
  background-color: #2E2E2E;
  color: white;
}

.hr-dark {
  background-color: white !important;
}

.card, .card-content, .list-group li {
  background-color: #212121;
  color: white;
}


.carousel-indicators li {
  background-color: grey !important;
  bottom: -50px !important;
  opacity: 0.5;
}

.carousel-indicators li.active {
  background-color: white !important;
  opacity: 1;
}

.md-form label { color: white; }

.btn {
  background-color: #4B515D;
  color: white !important;
}

.modal-content {
  background-color: #2E2E2E;
}
