.navbar {
  background-color : #00bcd4 ;
}

.navbar-brand {
  color: black;
}

.body-dark {
  background-color: #e3f2fd !important; ;
  color: black;
}

.exec-card {
  color: #00bcd4 !important;
}


.card, .card-content, .list-group li{
  background-color: #b2ebf2 ;
  color: black !important;
}

.info-link {
  color: black;
  text-decoration: underline;
  cursor: pointer;
}

.nav-link {
  color: black !important;
}

.btn {
  background-color: #00b0ff;
  color: white !important;
}

.modal-content {
  background-color: #e3f2fd;
}
