html, body { overflow-x: hidden !important; }
hr { margin-top: 0.5rem; }
body, .navbar, .card{ transition: all 0.5s ease; }

.first-elem {
  margin-top: 95px !important;
}

.dark-theme { @import "dark"; }
.light-theme { @import "light"; }

router-outlet ~ * {
  position: absolute;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
  width: 50px !important;
  height: 50px !important;
}
