//$themes: (
//  light: (
//
//  ),
//  dark: (
//    bodyBackground: #2E2E2E,
//    navbarBackground: #212121,
//    cardBackground: #212121,
//    listBackground: #212121,
//    textColor: #FFFFFF,
//    buttonBackground: #33b5e5,
//    ruleBackground: #FFFFFF,
//  )
//);

.theme-wrapper {
      --bodyBackground: #2E2E2E;
      --navbarBackground: #212121;
      --cardBackground: #212121;
      --listBackground: #212121;
      --textColor: #FFFFFF;
      --buttonBackground: #33b5e5;
      --ruleBackground: #FFFFFF;
}

$vars: (
  --bodyBackground: var(--bodyBackground),
  --navbarBackground: var(--navbarBackground),
  --cardBackground: var(--cardBackground),
  --listBackground: var(--listBackground),
  --textColor: var(--textColor),
  --buttonBackground: var(--buttonBackground),
  --ruleBackground: var(--ruleBackground)
)
