hr { margin-top: 0; }

h3 { padding: 10px; }

p {
  padding-left: 15px;
  padding-right: 15px;
}

.list-group-item { border: 0; }

@media only screen and (max-width: 768px) {
  #cont {
    width: 100vw;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  #info .card {
    width: 100vw;
    margin-top: 10px;
  }
}

@media only screen and (min-width: 769px) {
  #cont {
    width: 500px;
    margin: 0 auto;
    margin-bottom: 30px;
    margin-top: 15px;
  }

  #info {
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
  }


  #info .card {
    display: inline-block;
    width: 45vw;
    margin: 10px;
    height: 300px;
  }
}
