<div id="cont">
  <mdb-carousel [isControls]="true" [animation]="'slide'">
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/poster-1.jpg" alt="First slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/poster-2.jpg" alt="Second slide">
    </mdb-carousel-item>
    <mdb-carousel-item>
      <img class="d-block w-100" src="assets/poster-3.jpg" alt="Third slide">
    </mdb-carousel-item>
  </mdb-carousel>
</div>

<div id="info">
  <div class="card">
    <h3><strong>Overview</strong></h3>
    <hr>
    <p>
      This is just some random placeholder text i thought about. Hmmm... not sure what else to put here.
      So here's a bunch of smiley faces :D :D :D :D :D :D :D :D :D :D
    </p>
  </div>

  <div class="card">
    <h3><strong>Points of Interest</strong></h3>
    <hr>
    <ul class="list-group">
      <li mdbWavesEffect class="list-group-item d-flex justify-content-between align-items-center">
        Web Development
        <i class="material-icons"> code </i>
      </li>
      <li mdbWavesEffect class="list-group-item d-flex justify-content-between align-items-center">
        Game Programming
        <i class="material-icons"> code </i>
      </li>
      <li mdbWavesEffect class="list-group-item d-flex justify-content-between align-items-center">
        Machine Learning
        <i class="material-icons"> code </i>
      </li>
      <li mdbWavesEffect class="list-group-item d-flex justify-content-between align-items-center">
        Competitions
        <i class="material-icons"> code </i>
      </li>
    </ul>

  </div>
</div>
