<div class="container-fluid">
  <div class="row">
    <div class = "col-md-5">
      <p style = "text-align: center">
        <img src="https://mdbootstrap.com/img/Photos/Others/img%20(27).jpg" alt="image not found">
      </p>
    </div>

    <div class = "col-md-7" id = "text-div">
      <h3>{{headers.about}}</h3>
      <p>
        {{placeholder}}
      </p>
      <button mdbBtn type="button" class="waves-light" mdbWavesEffect>Learn more</button>
    </div>
  </div>
</div>
<hr class = "hr-dark">

